{% extends 'base.html' %}

{% block content %}
<!-- masonry
================================================== -->
<section id="bricks">

    <div class="row masonry">
        {% if current_user.id == 1: %}
            <a class="button button-default new_post_button" href="{{ url_for('add_post') }}">Add a New Post</a>
        {% endif %}
        <!-- brick-wrapper -->
        <div class="bricks-wrapper">

            <div class="grid-sizer"></div>
            <div class="brick entry featured-grid animate-this">
                <div class="entry-content">
                    <div id="featured-post-slider" class="flexslider">
                        <ul class="slides">

                            {% for featured_blog in all_blogs[:-3:-1]: %}
                            <li>
                                <div class="featured-post-slide">

                                    <div class="post-background"
                                         style="background-image:url({{ featured_blog.img_url }} );"></div>

                                    <div class="overlay"></div>

                                    <div class="post-content">
                                        <ul class="entry-meta">
                                            <li>{{ featured_blog.date_posted.strftime("%B %d, %Y") }}</li>
                                            <li><a href="#">{{ featured_blog.author.username }}</a></li>
                                        </ul>

                                        <h1 class="slide-title"><a href="{{ url_for('post', id=featured_blog.id) }}">{{
                                            featured_blog.title }}</a></h1>
                                    </div>

                                </div>
                            </li> <!-- /slide -->
                            {% endfor %}


                        </ul> <!-- end slides -->
                    </div> <!-- end featured-post-slider -->
                </div> <!-- end entry content -->
            </div>

            {% for blog in all_blogs: %}
            <!-- Blog Post Start-->
            <article class="brick entry format-standard animate-this">

                <div class="entry-thumb">
                    <a href="{{ url_for('post', id=blog.id) }}" class="thumb-link">
                        <img src="{{ blog.img_url }}" alt="building">
                    </a>
                </div>

                <div class="entry-text">
                    <div class="entry-header">
                        <!--<div class="entry-meta">-->
                        <!--<span class="cat-links">-->
                        <!--<a href="#">Design</a>-->
                        <!--<a href="#">Photography</a>-->
                        <!--</span>-->
                        <!--</div>-->

                        <h1 class="entry-title"><a href="{{ url_for('post', id=blog.id) }}">{{ blog.title }}</a></h1>

                    </div>
                    <div class="entry-excerpt">
                        {{ blog.content[:100] |safe }} ...
                    </div>
                </div>

            </article>
            <!-- Blog Post End-->
            {% endfor %}

        </div> <!-- end brick-wrapper -->

    </div> <!-- end row -->

    <div class="row">

        <nav class="pagination">
            <span class="page-numbers prev inactive">Prev</span>
            <span class="page-numbers current">1</span>
            <a href="#" class="page-numbers">2</a>
            <a href="#" class="page-numbers">3</a>
            <a href="#" class="page-numbers">4</a>
            <a href="#" class="page-numbers">5</a>
            <a href="#" class="page-numbers">6</a>
            <a href="#" class="page-numbers">7</a>
            <a href="#" class="page-numbers">8</a>
            <a href="#" class="page-numbers">9</a>
            <a href="#" class="page-numbers next">Next</a>
        </nav>

    </div>

</section> <!-- end bricks -->

{% endblock %}